<div>
{{#if logged_in}}
<h2>Welcome, {{user.username}}!</h2>
{{else}}
<h2>Welcome!</h2>
{{/if}}
</div>

<div>
    <h3>Here are some of our recently added recipes!</h3>
</div>
<div class="recent-recipes">
  {{#each recipes as |recipe|}}
    <div class="recipe">
      <h2><a href='/recipe/{{recipe.id}}'>{{recipe.recipe_name}}</a></h2>
      <p>{{recipe.description}}</p>
    </div>
  {{/each}}
</div>

